* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 16, 41);

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(122, 58, 141);
    margin: 20px;
    padding: 5px;
    background-color: rgb(24, 16, 41);
    color: #fff;
    font-family: 'Cormorant', serif;
}

header h1 {
    padding: 5px;
    margin-left: 5px;
}

.formulario-filtrado input{
    border: 1px solid rgb(231, 116, 216);
    border-right: 0px solid rgb(231, 116, 216);
    border-radius: 5px 0 0 5px;
    padding: 5px;
    font-size: 0.85em;
    margin: auto;
    background: rgb(57, 36, 82);
}

.formulario-filtrado button {
    border: 1px solid rgb(231, 116, 216);
    border-left: 0px solid rgb(231, 116, 216);
    border-radius: 0 5px 5px 0;
    padding: 5px;
    font-size: 0.85em;
    cursor: pointer;
    background: rgb(57, 36, 82);

}
.fa-search:before {
    content: "\f002";
    color: #fff;
}

main button {
    border: 1px solid rgb(231, 116, 216);
    border-radius: 5px;
    padding: 5px;
    font-size: 0.85em;
    background-color: #fff;
    cursor: pointer;
}

main button:last-child {
    margin-top: 10px;
}

.card-container-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
}

.section-cargarMas {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 97vw;
    align-self: flex-end;
    align-items: flex-end;
    
}

.section-cargarMas div {
    width: 15vw;
    display: flex;
    justify-content: space-between;
}

.card-container-grid article {
    width: calc((100vw / 4) - (10px * 4));
    margin: 20px 10px;
    border: 1px solid rgb(122, 58, 141);;
    padding: 10px;
}

.gif-carga {
    width: 150px;
    margin: calc(100vh / 4) calc((100vw / 2) - (150px / 2));
}

.card-container-grid article main, main {
    display: flex;
    flex-flow: column wrap;
}

.card-container-grid article img {
    width: 100%;
    margin-bottom: 10px;
}

.card-container-grid article p {
    text-align: justify;
    margin: 10px 0;
    color: #fff;
}

.card-container-grid article a, main button {
    align-self: flex-end;
    cursor: pointer;
}

.btn-eliminarTarjeta {
    border: 1px solid rgb(231, 116, 216);
    padding: 2px 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.card-container-grid article a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

footer ul {
    display: flex;
    justify-content:flex-end;
    list-style: none;
    border: 1px solid rgb(231, 116, 216);
    margin: 20px;
    padding: 5px;
    color: #fff;
}

footer ul li {
    margin: 0 10px;
}

/* ===== */
.card-container-lista article {
    width: calc((100vw / 1) - (10px * 4));
    margin: 20px;
    border: 1px solid rgb(231, 116, 216);
    padding: 0 10px;
}

.card-container-lista article main {
    display: flex;
    flex-flow: row wrap;
}

.card-buttons {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    width: 20vw
}

.card-container-lista .card-buttons button:first-child, .aditional-info p, .description-fragment h3, .description-fragment p {
    position: relative;
    top: 10px;
}

.card-container-lista .card-buttons button:last-child {
    position: relative;
    top: calc(100% - 80px);
}

.card-container-lista article img {
    width: 15%;
}

.card-container-lista article .aditional-info {
    width: 20vw
}

.card-container-lista article a, main button {
    cursor: pointer;
    background:  rgb(57, 36, 82);
    
}
.fa-align-justify:before {
    content: "\f039";
    color: #fff;
}
main button:last-child {
    margin-top: 10px;
    color: #fff;
}
.fa-times:before {
    content: "\f00d";
    color: #fff;
}
.card-container-lista article a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.lista main {
    justify-content: space-between;
}

.lista main section {
    width: 20vw
}

.selected {
    box-shadow: 1px 1px 1px black;
    background: rgb(57, 36, 82);
}
.fa-th:before {
    content: "\f00a";
    color: #fff;
}
h3 {
    color: #fff;
}

@media (max-width: 420px) {
    .card-container-grid article {
        width: calc((100vw / 1) - (10px * 1));
    }
    .btn-cargarMasTarjetas{
        width: 30px;
        font-size: 5px;
    }
    .formulario-filtrado input{
        width: 45px;
    }
    .section-cargarMas {
        width: 80vw;
        align-items: flex-start;
        align-self: flex-start;
    }
}
