* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    margin: 20px;
    padding: 5px;
}

header section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
}

header section form input {
    border: 1px solid #000;
    border-right: 0px solid #000;
    border-radius: 5px 0 0 5px;
    padding: 5px;
    font-size: 0.75em;
    background-color: #fff;
    margin-right: -5px;
}

header section form button {
    border: 1px solid #000;
    border-left: 0px solid #000;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    font-size: 0.75em;
    background-color: #fff;
    margin-right: 20px;
}

main button {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.85em;
    background-color: #fff;
    margin-right: 20px;
}

/* 
       /-****************************************************************************-/
      /    TENER EN CUENTA QUE NOS PIDE HACER DOS ORIENTACIONES Y MEDIA QUERYS       /
     /     YO PERMITIRÍA SOLAMENTE ORIENTACIÓN VERTICAL PARA EL CASO DE TELEFONOS   /
    /-****************************************************************************-/
*/

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card-container article {
    width: calc((100vw / 4) - (10px * 4));
    margin: 20px 10px;
    border: 1px solid #000;
    padding: 10px
}

.card-container article main, main {
    display: flex;
    flex-flow: column wrap;
}

.card-container article img {
    width: 100%;
    margin-bottom: 10px;
}

.card-container article p {
    text-align: justify;
    margin: 10px 0;
}

.card-container article a, main button {
    align-self: flex-end;
}

.card-container article a:first-child {
    border: 1px solid #000;
    padding: 2px 5px;
    margin-bottom: 10px;
}

.card-container article a:last-child, .card-container article a:first-child {
    color: blue;
    text-decoration: none;
}

.aditional-info {
    /* display: none; */
}

footer ul {
    display: flex;
    justify-content:flex-end;
    list-style: none;
    border: 1px solid #000;
    margin: 20px;
    padding: 5px;
}

footer ul li {
    margin: 0 10px;
}